.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
}

.menuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

.menuBtnIcon {
  fill: #000000;
}
