@font-face {
  font-family: "Lato";
  src:
    url("/fonts/Lato-Bold.woff2") format("woff2"),
    url("/fonts/Lato-Bold.woff") format("woff"),
    url("/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src:
    url("/fonts/Lato-Regular.woff2") format("woff2"),
    url("/fonts/Lato-Regular.woff") format("woff"),
    url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src:
    url("/fonts/Lato-Medium.woff2") format("woff2"),
    url("/fonts/Lato-Medium.woff") format("woff"),
    url("/fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src:
    url("/fonts/Lato-Semibold.woff2") format("woff2"),
    url("/fonts/Lato-Semibold.woff") format("woff"),
    url("/fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comfortaa";
  src:
    url("/fonts/Comfortaa-Bold.woff2") format("woff2"),
    url("/fonts/Comfortaa-Bold.woff") format("woff"),
    url("/fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  /* fonts */

  --font-lato: "Lato", Arial, Helvetica, sans-serif;
  --font-comfortaa: "Comfortaa", cursive, sans-serif;

/* main colors */

  --background: #ffffff;
  --foreground: #000000;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lato);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-lato);
  color: var(--foreground);
  cursor: pointer;
  border: none;
}
